/* General Styles */

main {
    margin-top: 60px;
  }

/* Main Header Styling with Nav */

  main header {
    margin-bottom: 40px;
  }

  main header nav {
    display: flex;
    justify-content: center;
}

main header nav ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}

main header nav ul li a {
    color: black;
    text-decoration: none;
    margin: 0 20px 0 0;
    font-family: "Roboto", sans-serif;
}

main header nav ul li:last-child a {
    margin-right: 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.centerIntro {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
  }

  


/* Main H1, H2, H3 & P Text Styling */

main h1 {
   margin: 0 10px;
   text-align: center;
   font-size: 42px;
   font-family: "Roboto Mono", sans-serif;
}

main p {
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

main h2, h3 {
    font-family: 'Roboto Mono', sans-serif;
}
/* unvisited link */
a:link {
  color: #000;
  text-decoration: none;
  font-family: 'Roboto';
}

/* visited link */
a:visited {
  color: #000;
}

/* mouse over link */
a:hover{
  color: #6699CC;
}
/* selected link */
a:active {
  color: #000;
}


/* Form Styling with Map */

form label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  color: black;
  font-family: 'Roboto Mono', sans-serif;

}

form input [type=text] {
  color: black;
  font-size: 16px;
  margin-bottom: 30px;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

form textarea {
  width: 100%;
  height: 8.75rem;
  font-size: 16px;
  margin-bottom: 20px;

}

form button {
  padding: 10px 16px;
  border-radius: 10px;
  border: 0;
  font-family: 'Roboto Mono', sans-serif;
  font-size: 16px;
  background: #000;
  color: #fff;
  margin: 0 8px 10px 0;
/* how would I get my buttons to row-reverse (to be located on left-side of form? */
}

iframe {
  width: 100%;
}

/* Groups & Items  (Mobile First) */

.group {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
  }
  
  .item {
    flex: 1;
    margin: 10px;
  }
  
  .item-double {
    flex: 2;
    margin: 10px;
  }

  /* Groups & Items  (Desktop) */

@media all and (min-width: 800px) {
    section {
      padding: 0 10%;
    }
  
    .group {
      flex-direction: row;
    }
  }